.container{
    display: flex;
    min-height: 100vh;
}

.left,
.right{
    width: 30%; /*左右の幅が25%*/
    background-size: cover;
    background-repeat: no-repeat; /*背景繰り返さない*/
    position: fixed;
    height: 100vh; /*高さ画面全体に設定*/
}
.left{
    background-image: url("../img/left.jpg");
    opacity: 0.5;
    left: 0; /*左側に配置*/
}
.right{
    background-image: url("../img/left.jpg");
    opacity: 0.5;
    right: 0; /*右側に配置*/
}
.center{
    width: 40%; /*中央の幅が50%*/
    margin-bottom: 20px;
    overflow-y: auto; /*縦方向にスクロールできるようにする*/
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* 以下でスクロールバーを非表示 */
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}
 /*Google Chrome、Safariへの対応*/
 .contents_box::-webkit-scrollbar{
    display: none;
  }

/* モバイル用 */
@media screen and (max-width:779px){
    .container{
        flex-direction: column;
    }
    .left,
    .right{
        display: none;
    }
    .center{
        width: 100%;
        margin: 0;
    }
}
/* PC用 */
@media screen and (min-width:780px){
    .container{
        justify-content: center;
    }
    .center{
        width: 40%;
    }
}

/* header */
header{
    background-color: whitesmoke;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /*ヘッダーを固定*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.fas{
    margin-left: 7px;
    margin-bottom: 5px;
}

#menu{
    height: 30%;
    width: 78%;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 9px 0px 5px;
}

ul{
    list-style: none;
}

header a{
    text-decoration: none;
}

/* main */
main{
    margin-top: 70px; /*ヘッダーで隠れないように同じ高さ設定*/
    flex: 1;
}
@font-face{
    font-family: gamefont;
    src: url(../font/PixelMplus-20130602/PixelMplus10-Regular.ttf);
    font-display: swap;
}
body{
    background-image: url("../img/background.jpg");
    font-family: gamefont;
}

/* section */

/* section1 */
.subtitle{
    font-size: 25px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
h2{
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* section2 */
.btns{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.btn{
    color: white;
    width: 120px;
    height: 100px;
    border-radius: 20%;
}

/* From Uiverse.io by nikk7007 */ 
.btn {
    border: 3px solid #FFED64;
    position: relative;
    overflow: hidden;
    background-color: #eef1b8;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    color: black;
   }
   
   .btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #FFED64;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .btn:hover::before {
    width: 125%;
   }
   
   .btn:hover {
    color: #111;
   }
   


  
/* section3 */
#sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    border: 2px solid black;
    background-color: #eef1b8;
    font-size: 18px;
    width: 300px;
    border-radius: 10%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    display: inline-block; /* ラベルもインラインブロックで表示 */
}

input[type="radio"] {
    -webkit-appearance: radio; /* Safari用 */
    appearance: radio; /* 他のブラウザ用 */
}


/* section4 */
#sec4{
    display: flex;
    justify-content: center;
}
#gameCards{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.card-title{
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    /* background-color: aquamarine; */
}
.card-img{
    width: 80%;
    height: 70%;
}

/* From Uiverse.io by vinodjangid07 */ 
#btn{
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 30px;
    right: 20px;
}
/* PC用*/
@media screen and (min-width:780px){
    #btn{
        right: 33%;
    }
}
.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#828ed6, #39fad789);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
  }
  .arrow path {
    fill: white;
  }
  .text {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    color: #ab4ead;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
  }
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
  }
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  /* left */
#left{
    position: absolute;
}
.cat{
    position: fixed;
    bottom: 65px;
    left: 10%;
    height: 70px;
}



/* footer */
footer{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}