.Left,
.Right{
    width: 30%; /*左右の幅が25%*/
    background-size: cover;
    background-repeat: no-repeat; /*背景繰り返さない*/
    position: fixed;
    height: 100vh; /*高さ画面全体に設定*/
}
.Left{
    background-image: url("../img/left.jpg");
    opacity: 0.5;
    left: 0; /*左側に配置*/
}
.Right{
    background-image: url("../img/left.jpg");
    opacity: 0.5;
    right: 0; /*右側に配置*/
}
.center{
    width: 40%; /*中央の幅が50%*/
    margin-bottom: 20px;
    overflow-y: auto; /*縦方向にスクロールできるようにする*/
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* 以下でスクロールバーを非表示 */
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}
 /*Google Chrome、Safariへの対応*/
 .contents_box::-webkit-scrollbar{
    display: none;
  }

/* モバイル用 */
@media screen and (max-width:779px){
    .container{
        flex-direction: column;
    }
    .Left,
    .Right{
        display: none;
    }
    .center{
        width: 100%;
        margin: 0;
    }
}
/* PC用 */
@media screen and (min-width:780px){
    .container{
        justify-content: center;
    }
    .center{
        width: 40%;
    }
}

/* header */
header{
    background-color: whitesmoke;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /*ヘッダーを固定*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.fas{
    margin-left: 7px;
    margin-bottom: 5px;
}

/* ↓メニューバー */
#nav{
    height: 80%;
    width: 78%;
    position: relative;
    align-content: center;
    margin-right: 10px;
}
#menu{
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}
.menu{
    position: relative;
    z-index: 3;
}
#slide_color{
    position: absolute;
    bottom: 17%;
    height: 69%;
    padding: 0px 30px 0px 30px;
    background-color: #0E3D4ACC;
    border-radius: 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1;
}
/* モバイル用 */
@media screen and (max-width:779px){
    .menu{
        padding: 7px 14px 5px;
    }
}
/* PC用 */
@media screen and (min-width:780px){
    .menu{
        padding: 7px 20px 5px;
    }
}

/* main */
main{
    margin-top: 70px; /*ヘッダーで隠れないように同じ高さ設定*/
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face{
    font-family: gamefont;
    src: url(../font/PixelMplus-20130602/PixelMplus10-Regular.ttf);
    font-display: swap;
}
body{
    /* background-image: url("../img/background.jpg"); */
    font-family: gamefont;
}

/* section1 */
h1{
    font-family:  'Press Start 2P', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
h2{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

/* section2 */
#sec2{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px 30px 10px;
    margin-bottom: 20px;
}
.shopname{
    font-size: 25px;
    text-decoration: underline;
}
#address{
    padding-bottom: 5px;
}
/* img{
    width: 300px;
    height: 200px;
    padding-top: 8px;
} */
#how_many{
    padding-top: 10px;
}
#description{
    padding-top: 10px;
}
#container1{
    background-color: aquamarine;
}
#container2{
    background-color: lightcoral;
}

/* From Uiverse.io by vinodjangid07 */ 
#btn{
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 30px;
    right: 20px;
}
/* PC用*/
@media screen and (min-width:780px){
    #btn{
        right: 33%;
    }
}
.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#828ed6, #39fad789);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
  }
  .arrow path {
    fill: white;
  }
  .text {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    color: #ab4ead;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
  }
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
  }
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


/* footer */
footer{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}